.main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 60vh;
    background-color: #0f0f0f;
  
    .container{
        display: flex;
        gap: 100px;
        
        svg{
            height: 40px;
            // padding: 50px;
            fill: #c8bdb0;
            transition: fill 0.2s;
            cursor: pointer;
            &:hover{
                fill: #ec4e39;
            }
        }
    }
    p{
        color:#494136;
        margin-bottom: 100px;
    }
  }