@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&family=Roboto+Mono:wght@400;600&display=swap");
@font-face {
  font-family: "Avant Garde Book BT";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/AVGARDD_2.woff") format("woff");
}

:root {
  --background-Color: linear-gradient(90deg, #4831d4 67%, #ccf381 33%);
  --blue-rgb: 237 245 255;
  --green-rgb: 125 161 35;
}


html {
  font-family: "Avant Garde Book BT";
  scroll-behavior: smooth;
}

.border-top{

  border-top: 2px solid white;

}


.border-top-black{

  border-top: 2px solid black;
  width: 100%;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  padding: 58px 0;
}


#HOME {
  /* background: url('https://cdn.discordapp.com/attachments/757147113695215649/1165107019670364261/dizaster007_dark_gradient_background_with_one_3d_object_in_the__00ec1e4a-d716-4f2e-bf04-62dbe8f3cef2.png?ex=6545a578&is=65333078&hm=66345931b46236d6a4ea88463178a744e8ab4f995929598129e42a639e39257f&'); */
  /* background: url('https://media.discordapp.net/attachments/757147113695215649/1170286575075209247/dizaster007_rock_in_the_Swiss_Alps_cinematic_lighting_d1cd6d84-e99d-4d21-8e43-bc62c5c293f6.png?ex=65587d4e&is=6546084e&hm=63772b50e1997ab3403ea8cee0598be1a7dedd41e1650c4a4e52bbbbc2b7d164&=&width=2150&height=1228'); */
  background: url("https://cdn.discordapp.com/attachments/757147113695215649/1170290097032265779/dizaster007_frontend_developer_background_cinematic_lighting_c6b079e2-a443-4bcd-9a72-06cd5f8586cc.png?ex=65588096&is=65460b96&hm=0d643697fdb8ca2f39d8c60cec3155d0244fced7302f1b36afb227597ae0dda2&");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.mo-fire {
  width: 120px;
  height: auto;
  position: absolute;
  right:70px;

  top: 170px;
}
.mo-fire svg {
  width: 100%;
  height: auto;
  position: relative
}
.flame {
  animation-name: flamefly;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  opacity: 0;
  transform-origin: 50% 50% 0;
}
.flame.one {
  animation-delay: 1s;
  animation-duration: 3s;
}
.flame3.two{
  animation-duration: 5s;
  animation-delay: 1s;
}

.flame-main {
  animation-name: flameWobble;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.flame-main.one {
  animation-duration: 4s;
  animation-delay: 1s;
}
.flame-main.two {
  animation-duration: 3s;
  animation-delay: 2s;
}
.flame-main.three {
  animation-duration: 2.1s;
  animation-delay: 3s;
}
.flame-main.four {
  animation-duration: 3.2s;
  animation-delay: 4s;
}
.flame-main.five {
  animation-duration: 2.5s;
  animation-delay: 5s;
}
@keyframes flameWobble {
  50% {
    transform: scale(1,1.2) translate(0, -30px) rotate(-2deg);
  }
}
@keyframes flamefly {
  0%{
    transform: translate(0) rotate(180deg);
  }
   50% {
     opacity: 1;
  }
  100% {
    transform: translate(-20px, -100px) rotate(180deg);
    opacity: 0;
  }
}

@keyframes flame {
  0%, 100% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(1.2);
  }
}

.fire {
  width: 50px;
  height: 100px;
  background: linear-gradient(to bottom, #ff5733 0%, #ffbd69 20%, #ff5733 40%, #ffbd69 60%, #ff5733 80%, #ffbd69 100%);
  border-radius: 10px;
  animation: flame 1s infinite;
}



::-moz-selection {
  background: #ec4e39;
}
::-webkit-selection {
  background: #ec4e39;
}
::selection {
  background: #ec4e39;
}

.h1 {
  font-size: 150px;
  text-transform: uppercase;
  letter-spacing: 2.2px;
  text-shadow: 1px 3px 11px rgba(0, 0, 0, 0.3);

  font-weight: 600;
  color: #fff;
}

.SecondayHeader {
  font-family: "Poppins", Sans-serif;
  font-size: 75px;
  font-weight: 600;
  line-height: 1.4em;

  text-align: center;
}
/* span{
  font-family: 'Roboto Mono', monospace !important;

} */

.list1 {
  position: relative;
}
.span1::before {
  content: "01";
  display: flex;
  font-weight: 700;
  width: auto;
  right: 0;
  top: -0.75em;
  line-height: 0.6em;
  font-size: 0.6em;
  position: absolute;
  height: auto;
  opacity: 0.75;
}

.list2 {
  position: relative;
}

.span2::before {
  content: "02";
  display: flex;
  font-weight: 700;
  width: auto;
  right: 0;
  top: -0.75em;
  line-height: 0.6em;
  font-size: 0.6em;
  position: absolute;
  height: auto;
  opacity: 0.75;
}

.list3 {
  position: relative;
}

.span3::before {
  content: "03";
  display: flex;
  font-weight: 700;
  width: auto;
  right: 0;
  top: -0.75em;
  line-height: 0.6em;
  font-size: 0.6em;
  position: absolute;
  height: auto;
  opacity: 0.75;
}

.list4 {
  position: relative;
}

.span4::before {
  content: "04";
  display: flex;
  font-weight: 700;
  width: auto;
  right: 0;
  top: -0.75em;
  line-height: 0.6em;
  font-size: 0.6em;
  position: absolute;
  height: auto;
  opacity: 0.75;
}

.list5 {
  position: relative;
}

.span5::before {
  content: "05";
  display: flex;
  font-weight: 700;
  width: auto;
  right: 0;
  top: -0.75em;
  line-height: 0.6em;
  font-size: 0.6em;
  position: absolute;
  height: auto;
  opacity: 0.75;
}

/* .scroll__icon{

    
  width:20px;
  height: 30px;
  border: 2px solid white;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;



} */

.scroll__icon {
  content: "";
  width: 7px;
  height: 10px;
  background-color: white;
  border-radius: 999px;
  position: absolute;
  bottom: 13px;
  right: 7px;
  animation: scroll 1000ms infinite alternate-reverse;
}

.content-h3:before {
  content: "<h1>";
  margin-bottom: 5px;
}
.content-h3:after {
  content: "<h1>";
  margin-bottom: 5px;
}
.line {
  position: relative;
}

.line:after {
  opacity: 0.3;
  content: "";
  width: 0;
  height: 65%;
  position: absolute;
  background-color: white;
  border: 0.1px solid white;
  bottom: 17%;
  left: 17px;
}

.h2-underline {
  z-index: 0;
  position: relative;
  color: white;
}

.h2-underline::after {
  transition: all 0.1s ease-in-out;
  content: "";
  position: absolute;
  bottom: 13.5%;
  z-index: -1;
  height: 0.3em;
  width: 104%;
  left: -1%;
  background: linear-gradient(
    65deg,
    #2c49d8 0%,
    #2c49d8 100%,
    rgba(255, 209, 0, 0) 100%
  );
}

.nabbutton{

  width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: inherit;
    cursor: pointer;
    min-height: 2em;
    position: relative;
    color: currentColor;
    -webkit-transition-delay: 100ms;
    transition-delay: 100ms;
    outline-color: transparent;
    background-color: transparent;
    -webkit-tap-highlight-color: transparent;
}

.nabbutton:after{

    content: '';
    width: 100%;
    height: 0.523em;
    position: absolute;
    background-color: currentColor;
    border: 1px solid currentColor;
    -webkit-transition: -webkit-transform 0.2s 100ms;
    -webkit-transition: transform 0.2s 100ms;
    transition: transform 0.2s 100ms;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


