@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&family=Roboto+Mono:wght@400;600&display=swap');
@font-face {
  font-family: 'Avant Garde Book BT';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/AVGARDD_2.woff') format('woff');
}

:root{

  --background-Color :linear-gradient(90deg, #4831d4 67%, #ccf381 33%);
}

html{

  font-family: 'Avant Garde Book BT';
  scroll-behavior: smooth;
}


body{

  background-color: whitesmoke;
  overflow-x: hidden;
  

}

#ABOUTME{

  background-color: whitesmoke;
}
.row{

  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.container{

  padding: 58px 0;


}
#HOME{

  /* background: url('https://cdn.discordapp.com/attachments/757147113695215649/1165107019670364261/dizaster007_dark_gradient_background_with_one_3d_object_in_the__00ec1e4a-d716-4f2e-bf04-62dbe8f3cef2.png?ex=6545a578&is=65333078&hm=66345931b46236d6a4ea88463178a744e8ab4f995929598129e42a639e39257f&'); */
  background: url('https://tympanus.net/Development/SlideshowAnimations/img/50.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

::-moz-selection {
  background: #ec4e39;
}
::-webkit-selection {
  background: #ec4e39;
}
::selection {
  background: #ec4e39;
}


.h1{

  
  font-size: 150px;
  text-transform: uppercase;
  letter-spacing: 2.2px;
  text-shadow: 1px 3px 11px rgba(0,0,0,.3);
 
    font-weight: 600;
    color: #fff;
  

}

.SecondayHeader{

  font-family: "Poppins",Sans-serif;
  font-size: 75px;
  font-weight: 600;
  line-height: 1.4em;

  text-align: center;
 
}
/* span{
  font-family: 'Roboto Mono', monospace !important;

} */

.list1{

  position: relative;
}
.span1::before{
    content: "01";
    display: flex;
    font-weight: 700;
    width: auto;
    right: 0;
    top: -0.75em;
    line-height: .6em;
    font-size: .6em;
    position: absolute;
    height: auto;
    opacity: .75;

  
}

.list2{

  position: relative;
}


.span2::before{
    content: "02" ;
    display: flex;
    font-weight: 700;
    width: auto;
    right: 0;
    top: -0.75em;
    line-height: .6em;
    font-size: .6em;
    position: absolute;
    height: auto;
    opacity: .75;

  
}

.list3{

  position: relative;
}

.span3::before{
    content: "03";
    display: flex;
    font-weight: 700;
    width: auto;
    right: 0;
    top: -0.75em;
    line-height: .6em;
    font-size: .6em;
    position: absolute;
    height: auto;
    opacity: .75;

  
}

.list4{

  position: relative;  
}

.span4::before{
    content: "04";
    display: flex;
    font-weight: 700;
    width: auto;
    right: 0;
    top: -0.75em;
    line-height: .6em;
    font-size: .6em;
    position: absolute;
    height: auto;
    opacity: .75;

  
}

.list5{

  position: relative;
}

.span5::before{
    content: "05";
    display: flex;
    font-weight: 700;
    width: auto;
    right: 0;
    top: -0.75em;
    line-height: .6em;
    font-size: .6em;
    position: absolute;
    height: auto;
    opacity: .75;

  
}


/* .scroll__icon{

    
  width:20px;
  height: 30px;
  border: 2px solid white;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;



} */

.scroll__icon{

  content: "";
  width: 7px;
  height: 10px;
  background-color: white;
  border-radius: 999px;
  position: absolute;
  bottom: 13px;
  right: 7px;
  animation: scroll 1000ms infinite alternate-reverse ;
}

.content-h3:before{

  content: "<h1>";
  margin-bottom: 5px;
}
.content-h3:after{

  content: "<h1>";
  margin-bottom: 5px;
}
.line{

  position: relative;
}

.line:after{

  opacity: 0.3;
  content: '';
  width: 0;
  height: 65%;
  position: absolute;
  background-color: white;
  border: 0.1px solid white;
  bottom: 17%;
  left: 17px;
}

.h2-underline{

  z-index: 0;
  position: relative;
  color: white;
}

.h2-underline::after{

  transition: all 0.1s ease-in-out;
  content: "";
  position: absolute;
  bottom: 13.5%;
  z-index: -1;
  height: 0.3em;
  width: 104%;
  left: -1%;
  background: linear-gradient(65deg, #2C49D8 0%, #2C49D8 100%, rgba(255, 209, 0, 0) 100%);
}

@keyframes scroll {

  0%{

      transform: translateY(0);
  }

  100%{

      transform: translateY(-15px);
  }
  
}